@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 229 57% 100%; /* Light cyan */
    --foreground: 0 0% 98%; /* Very light gray */
    --muted: 229 12% 86%; /* Light grayish grey */
    --muted-foreground: 229 10% 37%; /* Medium-light gray */
    --popover: 0 0% 99%; /* Almost white */
    --popover-foreground: 229 63% 3%; /* Very dark navy blue */
    --card: 0 0% 99%; /* Almost white */
    --card-foreground: 229 63% 3%; /* Very dark navy blue */
    --border: 220 13% 91%; /* Pale blue-gray */
    --input: 220 13% 91%; /* Pale blue-gray */
    --primary: 229 100% 62%; /* Bright blue */
    --primary-foreground: 0 0% 9%; /* Dark gray */

    --secondary: 229 20% 90%; /* Light grayish blue */
    --secondary-foreground: 229 20% 30%; /* Medium grayish blue */
    --accent: 229 28% 85%; /* Light blue */
    --accent-foreground: 229 28% 25%; /* Medium blue */
    --destructive: 3 100% 50%; /* Pure red */
    --destructive-foreground: 3 0% 100%; /* Pure white */
    --ring: 229 100% 62%; /* Bright blue */
    --radius: 0.5rem; /* Corner radius for UI elements */
  }

  .dark {
    --background: 227 41% 4%; /* Very dark blue */
    --foreground: 0 0% 98%; /* Very light gray */
    --card: 229 41% 5%; /* Almost black */
    --card-foreground: 0 0% 98%; /* Very light gray */
    --popover: 0 0% 99%; /* Almost white */
    --popover-foreground: 0 0% 98%; /* Very light gray */
    --primary: 227 100% 60%; /* Bright blue */
    /* --primary: 0 0% 98%; Very light gray */
    --primary-foreground: 0 0% 100%; /* Pure white */
    --secondary: 0 0% 14.9%; /* Dark gray */
    --secondary-foreground: 0 0% 98%; /* Very light gray */
    --muted: 229 12% 14%; /* Dark gray */
    --muted-foreground: 0 0% 63.9%; /* Medium-light gray */
    --accent: 0 0% 14.9%; /* Dark gray */
    --accent-foreground: 0 0% 98%; /* Very light gray */
    --destructive: 0 62.8% 30.6%; /* Dark red */
    --destructive-foreground: 0 0% 98%; /* Very light gray */
    --border: 0 0% 14.9%; /* Dark gray */
    --input: 0 0% 14.9%; /* Dark gray */
    --ring: 0 0% 83.1%; /* Light gray */
    --chart-1: 215 28% 17%; /* Dark teal */
    /* --chart-1: 220 70% 50%; Cyan */
    --chart-2: 160 60% 45%; /* Medium green */
    --chart-3: 30 80% 55%; /* Orange */
    --chart-4: 280 65% 60%; /* Purple */
    --chart-5: 340 75% 55%; /* Pink */
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
